<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>게시판 목록 보기</title>
</head>
<body>

<table>
  <thead>
  <th>글번호</th>
  <th>글제목</th>
  <th>글내용</th>
  <th>글작성자</th>
  <th>작성일자</th>

  </thead>
  <tbody>

  <th:block th:each="boardDTO: ${boardDTOList}">
    <tr>
      <td th:text="${boardDTO.bno}"></td>
      <td >
        <a class="readbtn" th:data-num="${boardDTO.bno}" th:href="@{/board/read(bno=${boardDTO.bno})}">
          [[${boardDTO.title}]]
        </a>
      </td>
      <td th:text="${boardDTO.content}"></td>
      <td th:text="${boardDTO.writer}"></td>
      <td th:text="${#temporals.format(boardDTO.regTime, 'yy/MM/dd HH:mm')}"></td>
    </tr>
  </th:block>


  </tbody>

</table>




</body>
</html>