<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>

<[[${boardDTO}]]>
아이템명 : <input class="item_nm"><br>
상세설명 : <input class="item_d"><br>
수량 : <input class="item_count"><br>
<button class="insertbtn">저장</button>


<button class="selectbtn">목록불러오기</button>



<h2>댓글 등록</h2>




내용 : <input class="reply_text">
작성자 : <input class="reply_writer">
<button class="reply_registerbtn">저장</button>

<div class="result">

</div>
<script th:inline="javascript">
    //부모 bno
    let bno = [[${boardDTO.bno}]]   //BoardDTO.bno
    let reply_text = $(".reply_text")
    let reply_writer = $(".reply_writer")
    let reply_registerbtn = $(".reply_registerbtn")

    select()
    
    reply_registerbtn.on("click", function () {

        alert("ddd")
        let insertData = { replyText: reply_text.val() , writer: reply_writer.val() , bno :  bno  }

        console.log(insertData)
        register(insertData)

    })

    function select() {
        $.ajax({

            url : "/reply/list?bno="+bno ,
            type : "get" ,
            success : function (data) {

                console.log(data)

                let str = "";
                for( let i = 0; i < data.length; i++ ) {

                    str += `<span> 번호 : ${data[i].rno}</span>
                                <span>내용 : <b>${data[i].replyText}</b></span>
                                <span>작성자 : ${data[i].writer}</span>
                                <span>등록날짜 : ${data[i].regTime}</span><br>`


                }

                $(".result").html(str)

            }


        })
    }

    function register(insertData) {

        $.ajax({
            url : "/reply/register",
            type : "post",
            data : insertData   ,
            success : function (data) {
                alert(data)
                select()
            }

        })

    }


</script>
</body>
</html>